<a href="https://colab.research.google.com/github/KishansinhJadeja/Learning_Data_Science/blob/main/Assignment_1%20of%20Data%20Science%20Python%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Creating one variable containing following type of data:

In [ ]:
a="Rahul"

In [ ]:
type(a)

str

In [ ]:
b=[2,5,7,True,2+10j,"Adi",2.2565,(5,6,7,8,9)]

In [ ]:
type(b)

list

In [ ]:
b[6]

2.2565

In [ ]:
type(b[6])

float

In [ ]:
type(b[7])

tuple

Q2. Given are some following variables containing data:

In [ ]:
var1 = ''

In [ ]:
type(var1)

str

In [ ]:
var2 = '[ DS , ML , Python]'

In [ ]:
type(var2)

str

In [ ]:
var3 = [ 'DS' , 'ML', 'Python' ]

In [ ]:
type(var3)

list

In [ ]:
var4 = 1.

In [ ]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i) / = division
(ii) % = Percentile
(iii) // =Float Division
(iv) ** = Multiply

In [ ]:
24/4

6.0

In [ ]:
2%20

2

In [ ]:
x=15
y=2
print(x//y)

7

In [ ]:
2**4 #2*2*2*2

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
k=[2,5,78,14,5.658,True,"Rushi",9+45j,False,'sid']

In [ ]:
type(k)

list

In [ ]:
for i in k:
  print(i)

  print(type(i))

2
<class 'int'>
5
<class 'int'>
78
<class 'int'>
14
<class 'int'>
5.658
<class 'float'>
True
<class 'bool'>
Rushi
<class 'str'>
(9+45j)
<class 'complex'>
False
<class 'bool'>
sid
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a=24
b=2

while a>b:
  print(b)
  b=b//a

  break

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [ ]:
for n in l :
 if n%3==0 :
  print(n)
else :
 print('element not divisible by 3')

3
6
9
12
15
18
21
24
element not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data type are those inwhich we can change data and Immutable data types are those in which we can't change our data.

In [ ]:
#examples of immutable data types

u=['Ram','Lakhan','Bharat','Bheem']

In [ ]:
u[-1]=='krishna'

False

In [ ]:
#examples of mutable data types

t=[25,98,23.25,True]

In [ ]:
t[-2]=54

In [ ]:
t

[25, 98, 54, True]